<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Embrace — We Take Care Of Your Brand | Branding Agency</title>
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      class="header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="partials/header.partial.html"
    ></header>
    <main>
      <section
        class="header-hero"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="partials/header-hero.partial.html"
      ></section>
    </main>
  </body>
</html>
